@model Delivery.Models.DH

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaVanDon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaVanDon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoTenNG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTenNG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChiNG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChiNG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SdtNG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SdtNG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HotenNN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotenNN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChiNN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChiNN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SdtNN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SdtNN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
